@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Poppins:ital,wght@1,900&family=Titillium+Web:wght@700&display=swap');

*{
    margin: 0; /* aquí reseto la margen a cero*/
    box-sizing: border-box; /*https://www.youtube.com/watch?v=Vx854s9YE78 */
}

body{
    font-family: 'Titillium Web', sans-serif; /*fuente de texto del documento :) */ 
    padding: 90px 20px 0; /*acoplan un espacio natural, nuestro contenido debajo de nuestro menú*/
}

.header{
    background-color: rgb(255, 174, 0); /*asignar un color a la barra de navegación y 
    una opacidad */
    height: 80px; /* altura de la barra de navegación */
    position: fixed;/*mantener firme el contenido y que no se mezcle con la barra de navegación */
    width: 100%; /* poner un ancho del 100*/
    top: 0; /* Estas dos fijan la posición de nuestra ventana para que el nav
    siempre se mantenga en el mismo lugar */
    left: 0;
}   

.nav{
    display: flex; /*Alinear que nuestros elementos esten para la derecha */
    justify-content: space-between; /*Alinear que nuestro logo esté para la izquierda*/
    

    max-width: 992px; /*Adaptar el tamaño a dispositivos amplios pero moviles*/
    margin: 0 auto; /*centrar los elementos */
}

.nav-link {
    color: white; /*asignar un color al texto de nav*/
    text-decoration: none; /*quitar el efecto de link*/
}

.logo {
    padding: 0 40px; /*mover un poco el logo hacía la derecha */
    line-height: 40px; /*centramos la imagen */
    font-size: 30px; /*tamano de la fuente */
    font-weight: bold; /*para hacer mas fuerte el texto*/
    padding: 0 40px; /*distancia entre el texto y la barra de navegacion*/
    line-height: 80px; /*centrar texto */
}

.nav-menu {
    display: flex; /*elementos en forma horizontal*/
    margin-right: 40px; /* separar un poco de la derecha*/
    list-style: none; /*eliminar los puntitos*/
}

.nav-menu-item{
    font-size: 18px; /*asignar el tamaño de la fuente de texto*/
    margin: 0 10px; /*asignar una distancia entre el espaciado de cada texto*/
    line-height: 80px; /*centrar el texto*/
    text-transform: uppercase;
    width: max-content; /*no cortar contenido al momento de adaptar con el celular */
}

.nav-menu-link{
    padding: 8px 12px; /*tamaño del sombreado del texto seleccionado*/
    border-radius: 5px; /*un efecto redondo sobre el sombreado*/
}
.nav-menu-link:hover,
.nav-menu-link-active {
   background-color:  rgba(0, 0, 0, 0.76); /*sobrear letra al momento de pasar el mouse sobre ellas */
   transition: 0.5s; /*hacer una transición al efecto de medio segundo*/
}


img{
    height: 100%;
    width: 100%;
}

.nav-toggle{
    color: white; /*asignar color al botón*/
    background: none; /*eliminar fondo del botón*/
    border: none; /*quitar el borde del botón*/
    font-size: 30px; /*asignar el tamaño de la fuente*/
    padding: 0 20px; /*distancia entre los textos y la barra de navegación*/
    line-height: 60px; /*establece distancia entre la linea de texto en dispositivos moviles*/
    
    display: none; /*que no se vea cuando está en dispositivo de escritorio*/
}

@media (max-width: 768px){ /*cuando nuestro dispositivo tengo menos de 768px se adaptará de esta manera */
    body{
        padding: 70px; /*acoplan un espacio natural, nuestro contenido debajo de nuestro menú*/
    }
    .header{
        height: 60px; /* altura de la barra de navegación */

    }   
    .logo {
        font-size: 25px; /*tamano de la fuente */

        padding: 0 20px; /*distancia entre el texto y la barra de navegacion*/
        line-height: 60px; /*centrar texto */
    }
    
    .nav-menu {
        flex-direction: column; /*elementos en forma vertical*/
        align-items: center; /*centrar elementos*/
        margin-right: 20px; /* separar un poco de la derecha*/
        background-color: black; /*asignar un color de fondo*/
        /*asignar que la posición no dependa de donde se encuentre
        __________________________________________________________*/
        position: fixed; /*alinear la posición del elemento*/
        left: 0;
        top: 60px; /*alto de mi elemento*/
        width: 100%; /*ancho de mi elemento*/
        padding: 20px 0; /*20px es hacía arriba y abajo y 0 para eliminar el padding para que el elemento esté completo en la izquierda*/

        height: calc(100%  60px);
        overflow: auto; /*agregar barra de scrool cuando esté demasiado pequeño la ventana*/
        
        left:100% ; /*va estar 100 hacía la derecha*/
        transition: left 0.3s; /*una transición*/
    }
    
    .nav-menu-item{     
        line-height: 70px; /*centrar el texto*/
    }
    
    .nav-menu-link:hover,
    .nav-menu-link-active {
       background-color:  rgba(255, 153, 0, 0.685); /*sobrear letra al momento de pasar el mouse sobre ellas */
       transition: 0.5s; /*hacer una transición al efecto de medio segundo*/
    }
    
    .nav-toggle{
        display: block; /*acomodar el icono a la derecha*/
    }
    
    .nav-menu_visible{
        left: 0; /*asignamos que cuando el menú esté desactivado va volver a la normalidad osea desaparecer*/
    }

    img{
        height: 100%;
        width: 100%;
    }
}